body{
	background-image: url('../assets/got2.jpg');
	background-size: cover;
	
}


#gotTitle{
	font-family: 'Almendra Display', cursive;
	color: rgb(230, 184, 0);
	font-size: 100px;
	text-align: center;
	
	
}

#gotSub{
	font-family: 'Almendra Display', cursive;
	color: rgb(230, 184, 0);
	font-size: 30px;
	text-align: center;
	margin-bottom: 20px;

}

#main{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

img.crest{
	width: 200px; 
    height: auto;
    display: block;
    margin: 0 auto;
}

.kingdom{
	text-align: center;
	border: 5px solid black;
    border-radius: 30%;
	padding: 20px;
	margin: 40px;

}

.house{
	font-family: 'Almendra Display', cursive;
	font-size: 40px;
	color: #FDA902;
	text-decoration: underline;
	margin: 10px;
	width: 300px;
}

.region{
	font-family: 'Cardo', serif;
	color: orange;
	font-size: 15px;
	margin: 5px;
	width: 300px;
}

.lord{
	font-family: 'Cardo', serif;
	font-size: 15px;
	color: orange;
	margin: 5px;
	width: 300px;
}

.allegiance{
	font-family: 'Cardo', serif;
	font-size: 15px;

	color: orange;
	margin: 5px;
	width: 300px;
}

.words{
	font-family: 'Cardo', serif;
	font-size: 15px;
	color: orange;
	margin: 5px;
	width: 300px;
}

#card0{
	transition: all 3s ease;
	display: flex;
	flex-direction: column;
	transform-style: preserve-3d;

}
#card0:hover{
	transform: rotateX(180deg);
	background-color: #112A3F;	
}

#card1{
	transition: all 3s ease;
	display: flex;
	flex-direction: column;
	transform-style: preserve-3d;

}
#card1:hover{
	transform: rotateY(180deg);
	background-color: #112A3F;
}

#card2{
	transition: all 3s ease;
	display: flex;
	flex-direction: column;
	transform-style: preserve-3d;

}
#card2:hover{
	transform: rotateX(180deg);
	background-color: #112A3F;	
}

#card3{
	transition: all 3s ease;
	display: flex;
	flex-direction: column;
	transform-style: preserve-3d;

}
#card3:hover{
	transform: rotateY(180deg);
	background-color: #112A3F;
}


#card4{
	transition: all 3s ease;
	display: flex;
	flex-direction: column;
	transform-style: preserve-3d;

}
#card4:hover{
	transform: rotateX(180deg);
	background-color: #112A3F;	
}

#card5{
	transition: all 3s ease;
	display: flex;
	flex-direction: column;
	transform-style: preserve-3d;


}
#card5:hover{
	transform: rotateY(180deg);
	background-color: #112A3F;
}









